*{
  margin:0;
}
.app{
  background-color: #fafafa;
  height: 100vh;
}
.app__posts{
  padding: 20px;
  /* width: 50px; */
  display: flex;
  justify-content: center;
  /* display:flex; */
}
.app__header{
  position: sticky;
   top:0;
   z-index: 1;
  height: 40px;
  background-color: lightskyblue;
  padding: 20px;
  border-bottom: 1px lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}
.app__headerImage{
  object-fit: contain;

}
.app__signup{
  display: flex;
  text-align: center;
  flex-direction: column;

}
.logout{
  background-color: black;
  color: white;
}